.carouselMenu{
    display: flex;
    flex-direction: column; 
}
.carouselRetractor{
    margin-top: -4em;
}
.descriptionText{
    font-weight: 100;
    font-size: small;
    text-align: justify;
}
.descriptionTitle{
    font-weight: 100;
    color: white;
    font-weight: 400;
    padding-left: .2em;
}
.priceDiv{
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: #77b9ff;
    color: white;
    width: auto;
    height: auto;
    float: right;
    border-radius: 5%;
    margin-top: -2em;
    padding-left: .5em;
    padding-right: .5em;
    vertical-align: middle;
}
.priceDiv:hover{
    opacity: 1;
    font-size: large;
    background-color: #007bff;
}
.descriptionDiv{
    background-color: #77b9ff;
    border-radius: 0% 0% 50% 20%;
}
.addItemCart{
    border: #77b9ff solid;
}
.addItemCart:hover{
    border: #007bff solid;
}
/*
*KeyPress background color mais escura, key leave volta ao normal
*/
.listImg{
    height: 200px;
    border-radius: 10% 10%  10% 0%"
}
.showHide{
    display: none;
}
.centeredPagination{
    position: absolute;
    left: 44%;
}
.alignModalButtons{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .carouselRetractor{
        margin-top: 0em;
    }
    .centeredPagination{
        position: absolute;
        left: 30%;
    }
}